name: Recreate CMOR CVs JSON file

on:
  workflow_dispatch:
  # schedule:
  #   # * is a special character in YAML so you have to quote this string
  #   # This means once a day,
  #   # see https://crontab.guru/once-a-day
  #   - cron:  '0 0 * * *'

jobs:
  recreate-cmor-cvs-json-file:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          token: "${{ secrets.PERSONAL_ACCESS_TOKEN }}"

      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Update cmor-cvs.json
        run: |
          bash tables-cvs/recreate-cmor-cvs-json.sh -o tables-cvs/cmor-cvs.json -r tables-cvs/requirements-cmor-cvs-table.txt -e -v

          # Show the diff
          git diff || true

      - name: Check if relevant files were updated
        uses: tj-actions/verify-changed-files@a1c6acee9df209257a246f2cc6ae8cb6581c1edf # v20
        id: verify-changed-files
        with:
          files: |
            tables-cvs/cmor-cvs.json
            tables-cvs/requirements-cmor-cvs-table.txt

      - name: Commit
        if: steps.verify-changed-files.outputs.files_changed == 'true'
        run: |
          git add tables-cvs/cmor-cvs.json tables-cvs/requirements-cmor-cvs-table.txt
          git config --local user.email "ci-runner@cmip7-cmor-tables.invalid"
          git config --local user.name "$GITHUB_ACTOR"
          git commit -m "Update CMOR CVs JSON via GitHub action"

      # If triggered from branch other than main, push directly to the branch
      - name: Push to branch
        if: ${{ steps.verify-changed-files.outputs.files_changed == 'true' && github.ref_name != 'main' }}
        run: |
          git push

      # If triggered from main, create a new PR
      - name: Create new pull request
        if: ${{ steps.verify-changed-files.outputs.files_changed == 'true' && github.ref_name == 'main' }}
        env:
          GH_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          GH_REPO: ${{ github.repository }}
        run: |
          TIMESTAMP=$(date +%Y-%m-%dT%H-%M-%S)
          BRANCH_NAME="${TIMESTAMP}_cmor-cvs-json-update"

          git checkout -b "${BRANCH_NAME}"
          git push --set-upstream origin "${BRANCH_NAME}"
          gh pr create --title "${TIMESTAMP} update CMOR CVs JSON" --body "Created from recreate-cmor-cvs-json-file action" --label "update-cmor-cvs-json-file" --reviewer znichollscr
          # --reviewer matthew-mizielinski
