# Update CMOR CVs table workflow.
# Intended to be triggered by `/update-cmor-cvs-table`
# in a pull request comment
# via `slash-command-dispatch.yaml`.
name: Update CMOR CVs table

on:
  workflow_dispatch:
    inputs:
      repository:
        description: 'The repository from which the slash command was dispatched'
        required: true
      comment-id:
        description: 'The comment-id of the slash command'
        required: true

jobs:
  update-cmor-cvs-table:
    runs-on: ubuntu-latest
    steps:
      - name: Add reaction
        uses: peter-evans/create-or-update-comment@v5
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          repository: ${{ github.event.inputs.repository }}
          comment-id: ${{ github.event.inputs.comment-id }}
          reactions: rocket

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          repository: ${{github.event.client_payload.pull_request.head.repo.full_name}}
          ref: ${{github.event.client_payload.pull_request.head.ref}}
          token: "${{ secrets.PERSONAL_ACCESS_TOKEN }}"

      - name: Update time.txt
        run: |
          python -c 'import datetime; print(datetime.datetime.now())' > time.txt
          git add time.txt
          git config --local user.email "ci-runner@gcages.invalid"
          git config --local user.name "$GITHUB_ACTOR"
          git commit -m "Update time"
          git push

      - name: Add reaction
        uses: peter-evans/create-or-update-comment@v5
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          repository: ${{ github.event.inputs.repository }}
          comment-id: ${{ github.event.inputs.comment-id }}
          reactions: hooray
